body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
}

h1, h2, h3, h4 {
	font-weight: 200;
    margin-top: 0px;
}

p {
    font-size: 1.1em;
}

.textcenter {
	text-align: center;
}

.mgtb30 {
	margin: 30px 0;
}

.clearspace {
    margin: 10px 0;
    overflow: hidden;
}

.overflowhidden {
    overflow: hidden;
}

.btn-primary {
    background-color: #1a81e4;
    border: 0px;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.btn-primary:hover {
    background-color: #7205f2;
}

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 40px; color: #7205f2; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-prev, .slick-next {width: 0px;height: auto;}
.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }
[dir="rtl"] .slick-next { left: -10px; top: 40px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }


/** Menu Styles **/

.navbar-default .navbar-nav>li>a {
    color: #868686;
    font-weight: 400;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover {
    color: #41007b;
    background-color: #e7e7e7;
}
.navbar-default .navbar-nav>.active>a {
    color: #41007b;
    background-color: inherit;
}

#menu .btn-pill {
    border-radius: 20px;
    padding: 5px 20px;
    background: #7205f2;
    color: #fff;
    margin: 10px 0;
    text-decoration: none;
}

#menu .navbar-brand {
    padding: 8px 15px 8px 0;
}

#menu .logo {
    width: 200px;
}

/** Header Styles **/

#header	{
	position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    background: url(images/bg-pattern.png),#7b4397;
    background: url(images/bg-pattern.png),-webkit-linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
    background: url(images/bg-pattern.png),linear-gradient(48deg, #6c00f6 05%, #a330d3 95%);
    color: #fff;
    padding: 160px 0 0 0;
}

#header h1 {
	font-size: 4em;
	font-weight: 100;
}


#header .actions li {
	display: inline-block;
}

#header a.button {
	text-decoration: none;
	color: #fff;
	border-radius: 20px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    margin-right: 10px;
    line-height: 1;
    border: 2px solid #fff;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#header a.button:hover {
	color: black;
	background-color: #fff;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

section .container {
    padding: 40px 0;
}

#header .container {
    padding-bottom: 0px;
    overflow: hidden;
}

section .container .img-frame {
    border: 1px solid #e3e3e3;
}

.variant-hero-screen {
    position: relative;
    display: inline-block;
    position: relative;
}

.screen-image {
    display: inline-block;
    margin-top: -400px;
    position: relative;
    top: 450px;
    opacity: 1;
    width: 100%;
    max-width: 850px;
}

.variant-hero-screen:hover .screen-image {
    top: 325px;
}

.variant-hero-screen .btn {
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 99;
    margin: 0 auto;
    transform: translateY(210px);
    -webkit-transform: translateY(210px);
    -moz-transform: translateY(210px);
    box-shadow: 0px 0px 5px 1px #b1b1b1;
    -webkit-box-shadow: 0px 0px 40px 12px #b1b1b1;
    -moz-box-shadow: 0px 0px 5px 1px #b1b1b1;
    background: #7205f2;
    color: white;
    font-weight: 300;
    border-radius: 25px;
}

.variant-hero-screen:hover .btn, .variant-hero-screen .btn:hover {
    top: -80px;
    left: 35%;
}

.transition-300 {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}



.tutorialvideos>div:hover {
    cursor: pointer;
}

.tutorialvideos span.tutorial-title {
    display: block;
    margin: 0 10px;
    margin-top: -8px;
    font-weight: 500;
    font-size: 12px;
}

.slick-slide {
    position: relative;
}
.tutorialvideos .fuji-play-btn {
    background-image: url(http://ydesignproto.corp.gq1.yahoo.com/fuji/app/images/fuji_play.png);
    width: 50px;
    top: 33%;
    left: 40%;
    display: inline-block;
    position: absolute;
    height: 50px;
    background-size: 50px;
    opacity: 0.5;
}
.tutorialvideos .fuji-play-btn:hover {
    opacity: 1;
    transition: all 0.5s ease;
}

.tutorialvideos img {
    width: 100%;
    padding: 10px;
    max-width: 250px;
}

#adformats, #accountsync {
    background-color: #f3f3f3;
    border: .2rem solid #d8dade;
}

.cards {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}
.card {
    width: 30%;
    max-width: 270px;
    min-width: 250px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #f2f2f2;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 2px 20px 0px rgba(46,61,73,0.5);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
}
.card:hover {
    cursor: pointer;
    box-shadow: none;
    border: 1px solid #d8dade;
    transition: all 0.5s ease;
}

.card .card-img {
    width: 100%;
    height: 160px;
    overflow: hidden;
}
.card img {
    width: 100%;
    min-height: 100%;
}
.card-block {
    padding: 10px;
    text-align: left;
    background-color: #fff;
}
.card-title {
    font-weight: 400;
}
.card .pill {
    position: absolute;
    top: 5px;
    background: #7205f2;
    border-radius: 3px;
    left: 5px;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 500;
    color: white;
}


footer {
    width: 100%;
    background: url(images/bg-pattern.png),#7b4397;
    background: url(images/bg-pattern.png),-webkit-linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
    background: url(images/bg-pattern.png),linear-gradient(48deg, #6c00f6 05%, #a330d3 95%);
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    padding: 20px 0;
}

footer ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}


footer ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0 10px;
    text-transform: uppercase;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

footer ul li a:hover, footer ul li a:visited {
    text-decoration: none;
    color: #fff;
}

.modal-content {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

#vimeoModal .modal-content {
    background-color: transparent;
}

#adformatModal .modal-header {
    background-color: white;
}

#adformatModal .modal-content {
    max-height: 700px;
    overflow: scroll;
    text-align: center;
    background-color: #fff;
}

#adformatModal .modal-content video {
    height: 500px;
    max-width: 100%;
    margin-bottom: 10px;
    border: 10px solid #000;
    border-radius: 25px;
    border-width: 40px 10px 40px 10px;
}

#adformatModal .modal-content .infotext {
    text-align: left;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding-top: 10px;
}

@media (max-width: 800px) {
    section .container {
        padding: 20px;
    }
    .cards {
        text-align: center;
    }
}
